<div class="grid-form-container">
    <div class="grid-form-image">
      <img src="assets/Logo_Badajoz_Unida.png" alt="">
    </div>
    <div class="grid-form">
        <form>
            <h1>REGISTRO</h1>
            <div class="separador"></div>
            <div class="input-group flex">
                <input type="text" maxlength="60" name="nombre" id="iNombre" placeholder="Nombre" />
                <input type="text" maxlength="60" name="apellidos" id="iApellidos" placeholder="Apellidos" />
            </div>
            <div class="input-group">
              <input type="email" maxlength="100" name="mail" id="iMail" placeholder="Correo Electrónico" />
            </div>
            <div class="input-group">
              <input type="password" name="password" id="iPassword" placeholder="Contraseña" />
            </div>
            <div class="input-group">
                <input type="password" name="passwordRepeat" id="iPasswordRepeat" placeholder="Repite tu contraseña" />
            </div>
            <div class="input-group">
                <label for="fechaNacimiento">Fecha de nacimiento </label><input type="date" name="fechaNacimiento" id="ifechaNacimiento" />
            </div>
            <div class="input-group">
              <input type="submit" value="CREAR CUENTA" />
            </div>
            <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión.</a>
        </form>
    </div>
</div>
