<div class="grid-form-container">
    <div class="grid-form-image">
      <img src="assets/Logo_Badajoz_Unida2.png" alt="">
    </div>
    <div class="grid-form">
      <form [formGroup]="forma" (ngSubmit)="guardar(forma)">
            <h1>REGISTRO</h1>
            <div class="separador"></div>

            <div class="input-group">
              <input type="text" formControlName="nombre" maxlength="60" name="nombre" id="iNombre" placeholder="Nombre" />
            </div>
            <p *ngIf="!validar('nombre')" class="error">El nombre es incorrecto.</p>
            <div class="input-group">
              <input type="text" formControlName="apellidos" maxlength="60" name="apellidos" id="iApellidos" placeholder="Apellidos" />
            </div>
            <p *ngIf="!validar('apellidos')" class="error">El apellido es incorrecto.</p>

            <div class="input-group">
              <input type="email" formControlName="email" maxlength="100"  name="mail" id="iMail" placeholder="Correo Electrónico" />
            </div>
            <p *ngIf="!validar('email')" class="error">Ajústese al formato del correo.</p>

            <div class="input-group password">
              <input type="password" formControlName="password" name="password" id="iPassword" placeholder="Contraseña" oncopy="return false" onpaste="return false"/>
              <i id="ieye"class="bi bi-eye-fill float-end mb-2" (click)="showHide()"></i>
            </div>
            <p *ngIf="!validar('password')" class="error">
              La contraseña debe incluir mínimo 8 caracteres y contener al menos una letra minúscula, mayúscula,
              un número y un caracter especial. No se permiten espacios en blanco.
            </p>

            <div class="input-group password">
              <input type="password" formControlName="password2" name="passwordRepeat" id="iPasswordRepeat" placeholder="Repite tu contraseña" oncopy="return false" onpaste="return false"/>
              <i id="ieye2"class="bi bi-eye-fill float-end mb-2" (click)="showHide2()"></i>
            </div>
            <p *ngIf="!comprobarPasswords || !validar('password2')" class="error">Las contraseñas no son iguales.</p>

            <div class="input-group">
              <label for="ifechaNacimiento">Fecha de nacimiento </label><input type="date" formControlName="fechaNacimiento" name="fechaNacimiento" id="ifechaNacimiento" />
            </div>
            <p *ngIf="!comprobarEdad || !validar('fechaNacimiento')" class="error">Tienes que ser mayor de 16 años.</p>

            <div class="input-group">
              <input type="submit" value="CREAR CUENTA" />
            </div>
            <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión.</a>
        </form>
    </div>
</div>
<app-modal></app-modal>
