<div class="contenedor-perfil">
  <h1>MI PERFIL</h1>
  <form action="">
    <div class="input-group_">
      <label for="">Nombre:</label>
      <input type="text" name="" id="" />
    </div>
    <div class="input-group_">
      <label for="">Apellidos:</label>
      <input type="text" name="" id="" />
    </div>
    <div class="input-group_">
      <label for="">Correo:</label>
      <input type="email" name="" id="" />
    </div>
    <div class="submit-container">
      <input type="submit" value="GUARDAR" />
    </div>
  </form>
</div>
<app-modal></app-modal>
