<p><input #nombreUbicacion type="text" (keyup)="buscar(nombreUbicacion.value)" placeholder="Buscar ubicaciones..." /></p>
<div class="contenedor-ubicaciones">
    <div class="ubicacion" *ngFor="let ubicacion of ubicaciones">
        <div class="ubicacion-datos">
            <h2 class="nombre" title={{ubicacion.nombre}}>{{ubicacion.nombre}}</h2>
            <div class="iconos">
               <button (click)="llamarFormulario(ubicacion.idUbicacion)"> <i class="bi bi-pencil-fill" ></i></button>
              <button (click)="preguntaBorrado(ubicacion.idUbicacion)"> <i class="bi bi-trash-fill" ></i></button>
            </div>
        </div>
        <div class="descripcion">{{ubicacion.descripcion}}</div>
    </div>
    <button class="add" (click)="llamarFormulario(0)">Añadir ubicación</button>
</div>
