<div class="modal-container">
    <div class="modal-inner">
        <div class="modal-title">
            <h2>Título de prueba</h2>
            <button>
                <i class="bi bi-x"></i>
            </button>
        </div>
        <div class="modal-body">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fuga qui praesentium consectetur placeat neque 
                laborum sunt perspiciatis tenetur exercitationem!
            </p>
            <button>
                ¡Entendido!
            </button>
        </div>
    </div>
</div>