<p></p>
<div class="contenedor-usuarios " >
  <input #nombreUsuario type="text" name="" id="" placeholder="Buscar usuario..." (keyup)="buscar(nombreUsuario.value)"/>
  <table *ngIf="mostrar">
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>CORREO</th>
      <th>GESTIÓN</th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.idUsuario}}</td>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.email}}</td>
      <td>
        <i class="bi bi-lock-fill" *ngIf="usuario.tipo=='u'" (click)="preguntaCambiar(usuario.idUsuario,usuario.tipo)"></i>
        <i class="bi bi-unlock-fill" *ngIf="usuario.tipo=='a'" (click)="preguntaCambiar(usuario.idUsuario,usuario.tipo)"></i>
        <i class="bi bi-trash-fill" (click)="preguntaBorrado(usuario.idUsuario)"></i>
      </td>
    </tr>
  </table>
  <p *ngIf="!mostrar">No se han encontrado resultados</p>
</div>
<app-modal></app-modal>
