<div class="contenedor-categorias">
    <select name="categorias" id="iCategorias">
        <option value="comida">Comida</option>
        <option value="deportes">Deportes</option>
        <option value="turismo">Turismo</option>
        <option value="cultura">Cultura</option>
    </select>
    <div class="boton-categorias">
        <button id="catAdd">Añadir categoría</button>
        <button id="catOpt"><i class="bi bi-caret-down-fill"></i></button>
        <div class="categorias-desplegable hidden">
            <button>Editar categoría</button>
            <button>Borrar categoría</button>
        </div>
    </div>
</div>
<div class="contenedor-subcategorias">
    <div class="subcategoria">
        <h2 class="nombre">Subcategoría</h2>
        <div class="iconos">
            <button class="editar"><i class="bi bi-pencil-fill"></i></button>
            <button class="borrar"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>
    <div class="subcategoria">
        <h2 class="nombre">Subcategoría</h2>
        <div class="iconos">
            <button class="editar"><i class="bi bi-pencil-fill"></i></button>
            <button class="borrar"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>
    <button>Añadir subcategoría</button>
</div>