:host{
    --bg-color: white;
    --primary-color: #D10000;
    --secondary-color: #939393;
    --text-base-color: black;
}

.contenedor-categorias, .contenedor-subcategorias{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

.contenedor-categorias select{
    min-width: 250px;
    border: 3px solid black;
    border-radius: 6px;
    padding: .2rem;
    background-color: #fff;
    margin: 1rem 0;
}

.contenedor-categorias .boton-categorias{
    display: flex;
    gap: 0;
    position: relative;
    width: fit-content;
}

.contenedor-categorias .boton-categorias button{
    background-color: var(--primary-color);
    border: none;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.contenedor-categorias .boton-categorias button:hover{
    opacity: .7;
    transform: scale(1.03);
}

.contenedor-categorias .boton-categorias .categorias-desplegable{
    position: absolute;
    top: 120%;
    right: 0;
    display: flex;
    flex-direction: column;
}

.contenedor-categorias .boton-categorias .categorias-desplegable.hidden{
    display: none;
}

.contenedor-subcategorias{
    margin-top: 2rem;
    max-width: 350px;
}

.contenedor-subcategorias .subcategoria{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    color: #fff;
    margin: 1rem 0;
}

.contenedor-subcategorias .subcategoria button{
    border: none;
    background: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0 .5rem;
    cursor: pointer;
}

.contenedor-subcategorias>button{
    background-color: var(--primary-color);
    border: none;
    padding: 1.2rem 1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    border-radius: 12px;
}

.contenedor-subcategorias>button:hover{
    opacity: .7;
    transform: scale(1.03);
}

@media screen and (min-width: 800px){
    .contenedor-categorias{
        display: flex;
        column-gap: 1rem;
    }

    .contenedor-categorias .boton-categorias button{
        padding: 1rem;
    }
}