<button class="add" (click)="llamarFormularioCategoria(0)">Añadir categoría</button>
<div class="contenedor-categorias">
    <div class="categoria" *ngFor="let categoria of categorias">
        <div class="categoria-datos">
            <h2 class="nombre">{{categoria.nombre}}</h2>
            <div class="iconos">
               <button (click)="llamarFormularioCategoria(categoria.idCategoria)"> <i class="bi bi-pencil-fill" ></i></button>
              <button (click)="preguntaBorrado(categoria.idCategoria,'c')"> <i class="bi bi-trash-fill" ></i></button>
            </div>
        </div>
        <div *ngFor="let subcategoria of subcategorias">
          <div class="subcategoria"  *ngIf="categoria.idCategoria == subcategoria.idCategoria">
              <h4>{{subcategoria.nombre}}</h4>
              <div class="iconos">
                  <button (click)="llamarFormularioSubcategoria(categoria.idCategoria,subcategoria.idSubcategoria)"><i class="bi bi-pencil-fill"></i></button>
                  <button (click)="preguntaBorrado(subcategoria.idSubcategoria,'s')"><i class="bi bi-trash-fill"></i></button>
              </div>
          </div>
        </div>
        <button class="add" (click)="llamarFormularioSubcategoria(categoria.idCategoria,0)">Añadir subcategoría</button>
    </div>
</div>
<p *ngIf="!mostrar">No se han encontrado resultados</p>
<app-modal></app-modal>
