<div class="contenedor-crear">
    <form [formGroup]="forma" (ngSubmit)="guardar(this.forma)" > <!--enctype="multipart/form-data"-->
        <div class="input-container">
            <input type="text" formControlName="titulo" placeholder="Título">
          <p *ngIf="!this.validar('titulo')" class="error">Título muy corta.</p>
        </div>
        <div class="input-container">
            <div class="imagen">
              <input type="file" accept="image/*" formControlName="imagen">
              <button ><strong class="add-button">Añadir portada <i class="bi bi-image-fill"></i></strong></button>
            </div>
          <p *ngIf="!this.validar('imagen')" class="error">No hay imagen.</p>
        </div>
        <div class="input-container">
            <textarea formControlName="descripcion" placeholder="Descripción..."></textarea>
          <p *ngIf="!this.validar('descripcion')" class="error">Descripción muy corta.</p>
        </div>
        <div class="input-container">
            <input type="datetime-local" formControlName="fechaHora">
          <p *ngIf="!this.validar('fechaHora')" class="error">Fecha.</p>
        </div>
        <div class="input-container">
            <select formControlName="idUbicaciones" >
                <option  *ngFor="let ubicacion of ubicaciones" value="{{ubicacion.idUbicacion}}" >{{ubicacion.nombre}}</option> <!-- El value puede ser el ID --->
            </select>
          <strong class="add-button">Añadir ubicación <i class="bi bi-geo-alt-fill"></i></strong>
          <p *ngIf="!this.validar('idUbicacion')" class="error">Ubicaciones</p>
        </div>
        <div class="input-container">
            <select formControlName="idSubcategoria">
                <option *ngFor="let subcategoria of subcategorias" value="{{subcategoria.idSubcategoria}}">{{subcategoria.nombre}}</option>
            </select>
          <p *ngIf="!this.validar('idSubcategoria')" class="error">Subcateogira</p>
        </div>
      <input type="submit" value="Guardar" />
    </form>
</div>
