<div class="contenedor-crear">
    <form action="" enctype="multipart/form-data">
        <div class="input-container">
            <input type="text" name="" id="" placeholder="Título">
        </div>
        <div class="input-container">
            <div class="imagen">
                <input type="file" accept="image/*">
                <button><strong>Añadir portada <i class="bi bi-image-fill"></i></strong></button>
            </div>
        </div>
        <div class="input-container">
            <textarea name="" id="" placeholder="Descripción..."></textarea>
        </div>
        <div class="input-container">
            <input type="datetime-local" name="" id="">
        </div>
        <div class="input-container">
            <select name="" id="">
                <option value="1">La Granadilla</option> <!-- El value puede ser el ID --->
                <option value="2">La Rana Loca</option>
                <option value="3">Casino Badajoz</option>
                <option value="4">Escuela Virgen de Guadalupe</option>
                <option value="5">Río Guadiana</option>
            </select>
        </div>
        <div class="input-container">
            <select name="" id="">
                <option value="1">Comida valenciana</option>
                <option value="2">Comida mexicana</option>
                <option value="3">Frontend</option>
                <option value="4">Backend</option>
                <option value="5">Tenis</option>
            </select>
        </div>
    </form>
</div>