<div id="menu">
  <div class="app-container">
    <header>
      <div class="logo-container">
        <img src="assets/header_logo.png" alt="Logotipo de Badajoz Unida" />
        <h1 id="nombreApp">BADAJOZ UNIDA</h1>
      </div>
      <div class="account-container">
        Hola, {{nombreUsuario}}
        <button (click)="toggleOpt()"><i class="bi bi-person-circle"></i></button>
        <div class="desplegable hidden">
          <ul>
            <li>
                <button>
                    <a routerLink="/perfil">Perfil</a>
                </button>
            </li>
            <li>
                <button (click)="cerrarSesion()">
                    Cerrar sesión
                </button>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main (click)="hideOpt()">
      <app-home *ngIf="router.url==='/home'"></app-home>
      <app-categoria *ngIf="router.url==='/categoria'"></app-categoria>
      <app-ubicacion *ngIf="router.url==='/ubicacion'"></app-ubicacion>
      <app-usuarios *ngIf="router.url==='/usuario'"></app-usuarios>
      <app-perfil *ngIf="router.url==='/perfil'"></app-perfil>
      <app-crear-evento *ngIf="router.url==='/crear-evento'"></app-crear-evento>
      <app-mis-eventos *ngIf="router.url==='/mis-eventos'"></app-mis-eventos>
    </main> <!-- Aquí se mostrará el componente que toque -->
  </div>
  <div class="menu-container">
    <aside>
      <div class="icono">
        <a routerLink="/home">
          <i class="bi bi-house-door-fill" [ngClass]="{'active' :
            router.url==='/home'}">
            <span>INICIO</span>
          </i>
        </a>
      </div>
      <div class="icono">
        <a routerLink="/mis-eventos">
        <i class="bi bi-calendar-event-fill" [ngClass]="{'active' :
            router.url==='/mis-eventos'}">
          <span>MIS EVENTOS</span>
        </i>
        </a>
      </div>
      <div class="icono">
        <a routerLink="/crear-evento">
          <i class="bi bi-plus-circle-fill" [ngClass]="{'active' :
            router.url==='/crear-evento'}">
            <span>NUEVO EVENTO</span>
          </i>
        </a>
      </div>
      <div class="icono">
        <a routerLink="/perfil">
          <i class="bi bi-person-circle" [ngClass]="{'active' :
            router.url==='/perfil'}">
            <span>PERFIL</span>
          </i>
        </a>
      </div>
      <div class="icono" *ngIf="comprobarTipo()">
        <a routerLink="/categoria">
          <i class="bi bi-tags-fill" [ngClass]="{'active' :
            router.url==='/categoria'}">
            <span>CATEGORÍAS</span>
          </i>
        </a>
      </div>
      <div class="icono" *ngIf="comprobarTipo()">
        <a routerLink="/ubicacion">
          <i class="bi bi-geo-alt-fill" [ngClass]="{'active' :
            router.url==='/ubicacion'}">
            <span>UBICACIONES</span>
          </i>
        </a>
      </div>
      <div class="icono" *ngIf="comprobarTipo()">
        <a routerLink="/usuario">
          <i class="bi bi-people-fill" [ngClass]="{'active' :
            router.url==='/usuario'}">
            <span>USUARIOS</span>
          </i>
        </a>
      </div>
    </aside>
  </div>
</div>
<router-outlet></router-outlet>
