:host{
    --bg-color: white;
    --primary-color: #D10000;
    --secondary-color: #939393;
    --text-base-color: black;
}

.menu-container{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/*======Header======*/
#menu{
    height: 100vh;
}

header{
    background-color: var(--bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    margin-block-end: .5rem;
    padding: 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-container{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header .logo-container img{
    width: 60px;
}

header .logo-container #nombreApp{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.7rem;
    display: none;
}

header .account-container>button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

header .account-container>.desplegable{
    position: absolute;
    z-index: 12;
    top: 60px;
    right: 10px;
    width: fit-content;
    padding: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
}

header .account-container>.desplegable.hidden{
    display: none;
}

header .account-container>.desplegable ul li{
    list-style: none;
    text-align: right;
    margin: .5rem 0;
}

header .account-container>.desplegable ul li button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

header .account-container>.desplegable ul li button a{
    text-decoration: none;
    color: black;
}

header .account-container>.desplegable ul li button a:visited{
    text-decoration: none;
    color: black;
}

/*======Menú======*/
aside{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    padding: .8rem;
}

aside .icono{
    text-align: center;
}

aside .icono i{
    color: var(--bg-color);
    font-size: 1.4rem;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    display: inline-block;
}

aside .icono i.active{
    color: var(--primary-color);
}

aside .icono i span{
    display: none;
}

/*======Contenido======*/
main{
    background-color: var(--bg-color);
    overflow-y: scroll;
    height: 84vh;
    padding: 1rem;
    padding-bottom: 70px;
}

/*======Footer======*/
footer{
    background-color: silver;
}

/*======Media Queries======*/
@media screen and (min-width: 750px) {

    header .logo-container #nombreApp{
        display: block;
    }

    .app-container{
        order: 1;
        position: relative;
        width: 100%;
    }
    .menu-container{
        position: static;
        order: 0;
        width: 350px;
    }

    #menu{
        display: flex;
    }

    aside{
        display: block;
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
        padding: 1rem;
    }

    aside .icono{
        text-align: left;
        margin: 2rem 0;
    }

    aside .icono i{
        padding: .5rem;
        font-size: 1.2rem;
    }

    aside .icono i.active{
        background-color: var(--bg-color);
        border-radius: 15px;
        color: var(--primary-color);
    }

    aside .icono i.active span{
        color: var(--primary-color);
    }

    aside .icono i span{
        display: inline-block;
        margin-left: .5rem;
        text-decoration: none;
        color: #fff;
    }

    main{
        height: 90vh;
        padding-bottom: 1rem;
    }

    footer{display: none;}
}
