<div id="menu">
    <div class="app-container">
        <header>
            <div class="logo-container">
                <img src="assets/Logo_Badajoz_Unida.png" alt="Logotipo de Badajoz Unida" />
                <h1 id="nombreApp">BADAJOZ UNIDA</h1>
            </div>
            <div class="account-container">
                Hola, {{nombreUsuario}}
                <i class="bi bi-person-circle" (click)="cerrarSesion()"></i>
            </div>
        </header>
        <main>
            <app-home *ngIf="router.url==='/home'"></app-home>
            <app-categoria *ngIf="router.url==='/categoria'"></app-categoria>
        </main> <!-- Aquí se mostrará el componente que toque -->
    </div>
    <div class="menu-container">
        <footer>
            footer
        </footer>
        <aside>
            <div class="icono">
                <i class="bi bi-house-door-fill" [ngClass]="{'active' : router.url==='/home'}">
                    <a routerLink="/home">INICIO</a>
                </i>
            </div>
            <div class="icono">
                <i class="bi bi-calendar-event-fill">
                    <a>MIS EVENTOS</a>
                </i>
            </div>
            <div class="icono">
                <i class="bi bi-plus-circle-fill">
                    <a>NUEVO EVENTO</a>
                </i>
            </div>
            <div class="icono">
                <i class="bi bi-person-circle">
                    <a>PERFIL</a>
                </i>
            </div>
            <div class="icono" *ngIf="comprobarTipo()">
                <i class="bi bi-tags-fill" [ngClass]="{'active' : router.url==='/categoria'}">
                    <a routerLink="/categoria">CATEGORÍAS</a>
                </i>
            </div>
            <div class="icono" *ngIf="comprobarTipo()">
                <i class="bi bi-geo-alt-fill">
                    <a>UBICACIONES</a>
                </i>
            </div>
            <div class="icono" *ngIf="comprobarTipo()">
                <i class="bi bi-people-fill">
                    <a>USUARIOS</a>
                </i>
            </div>
        </aside>
    </div>
</div>
<router-outlet></router-outlet>
