<div class="grid-form-container">
  <div class="grid-form-image">
  </div>
  <div class="grid-form">
      <form  [formGroup]="forma" (ngSubmit)="guardar(forma)">
          <h1>INICIAR SESIÓN</h1>
          <div class="separador"></div>
          <div class="input-group">
            <input type="email" maxlength="100" formControlName="email" name="mail" id="iMail" placeholder="Correo Electrónico" />
            <p *ngIf="!validar('email')"  class="error">Ajústese al formato del correo.</p>
          </div>
          <div class="input-group">
            <input type="password" formControlName="password" name="password" id="iPassword" placeholder="Contraseña" />
            <p *ngIf="!validar('password')" class="error">La contraseña debe incluir 8 caracteres.</p>
          </div>
          <div class="input-group">
            <input type="submit" value="INICIAR SESIÓN" />
          </div>
          <a routerLink="/registro">¿No tienes cuenta? Crea una ahora.</a>
      </form>
  </div>
</div>
