*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

.modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 8;
    top: 0;
    left: 0;
}

.modal-inner{
    background-color: #fff;
    max-width: 700px;
    border-radius: 12px;
}

.modal-title{
    background-color: #727272;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

.modal-title h2{
    margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.modal-title button{
    font-size: 2.5rem;
    background: none;
    color: white;
}

.modal-title.error{
    background-color: #860000;
}

.modal-title.success{
    background-color: #006b00;
}

.modal-body{
    width: 100%;
    padding: 1rem;
}

.modal-body p{
    line-height: 1.75rem;
    font-size: 1.1rem;
}

.modal-body button{
    border: none;
    background-color: #c0c0c0;
    margin: .5rem 1rem 1rem 0;
    padding: 1.2rem .8rem;
    font-size: 1rem;
    border-radius: 15px;
    float: right;
}

.modal-body button:hover{
    background-color: #b3b3b3;
    transform: scale(1.03);
}

.modal-body button:active{
    transform: scale(.98);
}