<div class="popup-form-container">
    <form class="popup-form" [formGroup]="forma" (ngSubmit)="guardar(this.forma)">
      <label>Nombre:</label><br/>
      <input type="text" formControlName="nombre"/><br/>
      <p *ngIf="!this.validar('nombre')" class="error">Nombre muy corto.</p>
      <label>Direccion:</label><br/>
      <textarea formControlName="direccion"></textarea><br/>
      <p *ngIf="!this.validar('direccion')" class="error">Descripción muy corta.</p>
      <input type="hidden" formControlName="idUbicacion" />
      <input type="submit" value="Guardar" />
      <span (click)="volver()">Volver</span><br/>
      <small>Foto de Annie Spratt en <a href="https://unsplash.com/es/fotos/AFB6S2kibuk">Unsplash</a></small>
    </form>
</div>
<app-modal></app-modal>
